CH_USERNAME=${OMEGA_USERNAME}CH_PASSWORD=${OMEGA_PASSWORD}CH_DRIVER="com.clickhouse.jdbc.ClickHouseDriver"CH_HOST="${CH_HOST}"CH_PORT="${CH_PORT}"CH_PROTOCOL="jdbc"CH_SECURE="https"CH_SOCKET_TIMEOUT="600000"