#   [НЕ МЕНЯТЬ] ТЕХНИЧЕСКИЕ ПЕРЕМЕННЫЕ##  [НЕ МЕНЯТЬ] ГЛОБАЛЬНЫЕ ПАРАМЕТРЫHDFS_PERSON_PATH='hdfs://arnsdpldbr2/user/${IPA_USERNAME}'HDFS_APP_AIRFLOW_PATH='${HDFS_APP_AIRFLOW_DIR}/${JOB_NAME}'HDFS_APP_OOZIE_PATH='${HDFS_APP_OOZIE_DIR}/${JOB_NAME}'ROOT_PATH='../util_hive2ch'LINUX_LOCAL_PATH_KEYTAB='~/.auth/${IPA_USERNAME}.keytab'PYTHON_EXE_PATH='/opt/sdp/mlpy3811v23/bin/python'LOG4J_CFG='-Dlog4j.configuration=file:log4j.properties'##  [НЕ МЕНЯТЬ] AIRFLOWAIRFLOW_HDFS_PATH_KEYTAB='~/.auth/${IPA_USERNAME}.keytab'AIRFLOW_CONTAINER_PATH_KEYTAB='${IPA_USERNAME}.keytab'##  [НЕ МЕНЯТЬ] OOZIEOOZIE_HDFS_PATH_KEYTAB='~/.auth/${IPA_USERNAME}.keytab'OOZIE_CONTAINER_PATH_KEYTAB='${IPA_USERNAME}.keytab'OOZIE_ARGS_APP='$@'